{% extends 'tolet/basic.html' %}
{% block title%} JATATPURA-about us{% endblock %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
{% block css %}
.style1 {
	color: #F1A236;
	font-size: xx-large;
}
.style2 {
	color: #FFFFFF;
	font-size: 70px;
}
.style3 {
	color: #ED9432;
	font-size: 20px;
}
body {
	background-color: #FFFFFF;
}
.style4 {font-size: 50px}
.style5 {font-size: 16px}
.style8 {color: #F1A236; font-size: xx-large; font-weight: bold; }
.style9 {font-size: 16px; font-weight: bold; }
{% endblock %}
{% block body }
{% load static %}
<table width="100%" height="664" border="0" cellpadding="0" cellspacing="0">
  <tr bgcolor="#99ccff">
    <td width="50" nowrap bgcolor="#000000" >
      <img src="mm_spacer.gif" alt="" width="15" height="1" border="0"></td>
    <td height="60" colspan="3" nowrap bgcolor="#000000" class="logo">
      <br>
        <span class="style1"><span class="style4">J</span>ATPURA</span><span class="tagline"><span class="style2">|</span>
        <span class="style3">TOLET</span> </span>
      </td>
    <td width="4" bgcolor="#000000">&nbsp;</td>
    <td width="212" bgcolor="#000000"><img src="logo.jpg" width="208" height="126"></td>
  </tr>
  <tr bgcolor="#003399">
    <td width="4" bgcolor="#B11C14">&nbsp;</td>
    <td width="212" bgcolor="#B11C14"><form name="form1" method="post" action="">
      <input type="text" name="textfield">
      <input name="Search" type="submit" id="Search" value="Search">
    </form></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0"></td>
  </tr>
  <tr bgcolor="#ffffff">
    <td 
    width="50" valign="top"><img src="mm_spacer.gif" alt="" width="50" height="1" border="0">
    </td>
    <td width="833" valign="top"><br>
      &nbsp;<br>
      <table width="832" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="764" class="pageHeader">About us: </td>
        </tr>
        <tr>
          <td height="346" class="bodyText"><blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <blockquote>
                    <blockquote>
                      <blockquote>
                        <p class="style5"><span class="style8"><span class="style4">M</span>AHARAJA</span></p>
                        <p class="style5">&nbsp;</p>
                        <p class="style5">&nbsp;</p>
                        </blockquote>
                      </blockquote>
                    </blockquote>
                  </blockquote>
                </blockquote>
              </blockquote>
            <p class="style5">This site is developed by Manish sharma. to serve our customer online services of online booking and many more services . you can use this facility of room booking and many more inquiry.</p>
            <p class="style5">Maharaja is dream viewed by Manish sharma which is now in front of you .</p>
            <p class="style5">&nbsp;</p>
            <blockquote>
              <blockquote>
                <blockquote>
                  <blockquote>
                    <p align="justify" class="style9">Developed by: MANISH SHARMA  </p>
                  </blockquote>
             </blockquote>
          </blockquote>
            <p class="style5">&nbsp; </p></td>
        </tr>
    </table></td>
    <td width="4">&nbsp;</td>
    <td width="4">&nbsp;</td>
  </tr>
  <tr bgcolor="#ffffff">
    <td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0"></td>
  </tr>
  <tr>
    <td height="25" colspan="6" bgcolor="#ED4005">&nbsp;</td>
  </tr>
  <tr bgcolor="#003399">
    <td height="16" colspan="6" bgcolor="#FFFFFF"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0"></td>
  </tr>
  <tr>
    <td colspan="6"><img src="mm_spacer.gif" alt="" width="1" height="2" border="0"></td>
  </tr>
  <tr bgcolor="#003399">
    <td colspan="6" bgcolor="#B11C14"><img src="mm_spacer.gif" alt="" width="1" height="1" border="0"></td>
  </tr>
  <tr>
    <td width="50" bgcolor="#004000">&nbsp;</td>
    <td width="833" bgcolor="#004000">&nbsp;</td>
    <td width="4" bgcolor="#004000">&nbsp;</td>
    <td width="4" bgcolor="#004000">&nbsp;</td>
    <td width="4" bgcolor="#004000">&nbsp;</td>
    <td width="212" bgcolor="#004000">&nbsp;</td>
  </tr>
</table>
{% endblock %}